### Nike sales data analysis

In [4]:
import pandas as pd
df =pd.read_csv(r"D:\Information Technology\nike sales data\Nike_Sales_Uncleaned.csv")
print(df.head())

   Order_ID Gender_Category Product_Line    Product_Name Size  Units_Sold  \
0      2000            Kids     Training     SuperRep Go    M         NaN
1      2001           Women       Soccer   Tiempo Legend    M         3.0
2      2002           Women       Soccer     Premier III    M         4.0
3      2003            Kids    Lifestyle      Blazer Mid    L         NaN
4      2004            Kids      Running  React Infinity   XL         NaN

       MRP  Discount_Applied  Revenue  Order_Date Sales_Channel     Region  \
0      NaN              0.47      0.0  2024-03-09        Online  bengaluru
1  4957.93               NaN      0.0  2024-07-09        Retail        Hyd
2      NaN               NaN      0.0         NaN        Retail     Mumbai
3  9673.57               NaN      0.0  04-10-2024        Online       Pune
4      NaN               NaN      0.0  2024/09/12        Retail      Delhi

    Profit
0  -770.45
1  -112.53
2  3337.34
3  3376.85
4   187.89

In [8]:
print(df.describe())

          Order_ID   Units_Sold          MRP  Discount_Applied       Revenue  \
count  2500.000000  1265.000000  1246.000000        832.000000   2500.000000
mean   3194.352400     1.482213  6039.863395          0.631022    274.873716
std     749.972638     1.696947  2315.746826          0.365500   2023.773550
min    2000.000000    -1.000000  2006.630000          0.000000  -7561.590000
25%    2534.750000     0.000000  4038.902500          0.320000      0.000000
50%    3192.500000     2.000000  6110.030000          0.615000      0.000000
75%    3841.250000     3.000000  8022.187500          0.962500      0.000000
max    4499.000000     4.000000  9996.220000          1.250000  37169.350000

            Profit
count  2500.000000
mean   1376.012848
std    1478.671013
min   -1199.450000
25%      93.532500
50%    1371.385000
75%    2660.645000
max    3999.210000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          2500 non-null   int64
 1   Gender_Category   2500 non-null   object
 2   Product_Line      2500 non-null   object
 3   Product_Name      2500 non-null   object
 4   Size              1990 non-null   object
 5   Units_Sold        1265 non-null   float64
 6   MRP               1246 non-null   float64
 7   Discount_Applied  832 non-null    float64
 8   Revenue           2500 non-null   float64
 9   Order_Date        1884 non-null   object
 10  Sales_Channel     2500 non-null   object
 11  Region            2500 non-null   object
 12  Profit            2500 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 254.0+ KB

In [12]:
df.isnull().sum()

Order_ID               0
Gender_Category        0
Product_Line           0
Product_Name           0
Size                 510
Units_Sold          1235
MRP                 1254
Discount_Applied    1668
Revenue                0
Order_Date           616
Sales_Channel          0
Region                 0
Profit                 0
dtype: int64