### Nike sales data analysis

In [3]:
import pandas as pd
df =pd.read_csv(r"D:\Information Technology\nike sales data\Nike_Sales_Uncleaned.csv")
df.head(20)

,Order_ID,Gender_Category,Product_Line,Product_Name,Size,Units_Sold,MRP,Discount_Applied,Revenue,Order_Date,Sales_Channel,Region,Profit
0,2000,Kids,Training,SuperRep Go,M,NaN,NaN,0.47,0.00,2024-03-09,Online,bengaluru,-770.45
1,2001,Women,Soccer,Tiempo Legend,M,3.0,4957.93,NaN,0.00,2024-07-09,Retail,Hyd,-112.53
2,2002,Women,Soccer,Premier III,M,4.0,NaN,NaN,0.00,NaN,Retail,Mumbai,3337.34
3,2003,Kids,Lifestyle,Blazer Mid,L,NaN,9673.57,NaN,0.00,04-10-2024,Online,Pune,3376.85
4,2004,Kids,Running,React Infinity,XL,NaN,NaN,NaN,0.00,2024/09/12,Retail,Delhi,187.89
5,2005,Women,Training,Flex Trainer,M,1.0,7363.96,NaN,0.00,NaN,Retail,Delhi,1415.98
6,2006,Men,Training,SuperRep Go,M,NaN,6819.78,NaN,0.00,04-06-2025,Online,Bangalore,1802.09
7,2007,Kids,Training,SuperRep Go,M,1.0,NaN,0.32,0.00,NaN,Retail,Bangalore,2928.36
8,2008,Women,Soccer,Premier III,11,-1.0,NaN,NaN,0.00,11-10-2024,Online,Hyderabad,-731.18
9,2009,Men,Soccer,Mercurial Superfly,M,4.0,NaN,NaN,0.00,NaN,Online,Pune,3929.61
10,2010,Kids,Lifestyle,Waffle One,L,1.0,7949.83,NaN,0.00,2025/01/16,Online,Pune,1965.56
11,2011,Women,Training,Flex Trainer,L,-1.0,9586.08,NaN,0.00,NaN,Retail,Hyd,1667.08
12,2018,Kids,Lifestyle,Blazer Mid,NaN,-1.0,NaN,0.86,0.00,13-11-2024,Online,Delhi,2109.48
13,2013,Kids,Training,SuperRep Go,NaN,NaN,9671.05,NaN,0.00,19-09-2024,Online,hyderbad,299.34
14,2014,Women,Running,React Infinity,11,NaN,NaN,NaN,0.00,2025-04-12,Online,Bangalore,-1044.40
15,2015,Kids,Basketball,Air Jordan,NaN,NaN,3285.52,NaN,0.00,31-05-2025,Retail,Kolkata,1193.21
16,2016,Women,Basketball,Air Jordan,M,1.0,9871.75,0.30,6910.22,NaN,Retail,hyderbad,2452.69
17,2017,Women,Basketball,Air Jordan,9,4.0,NaN,NaN,0.00,17-03-2025,Retail,Delhi,1946.24
18,2018,Men,Training,Metcon 7,XL,0.0,NaN,1.17,0.00,NaN,Online,bengaluru,-966.89
19,2019,Kids,Running,Air Zoom,6,0.0,3424.06,0.32,0.00,2025/01/17,Online,Hyderabad,1915.24

In [5]:
print(df.describe())

          Order_ID   Units_Sold          MRP  Discount_Applied       Revenue  \
count  2500.000000  1265.000000  1246.000000        832.000000   2500.000000
mean   3194.352400     1.482213  6039.863395          0.631022    274.873716
std     749.972638     1.696947  2315.746826          0.365500   2023.773550
min    2000.000000    -1.000000  2006.630000          0.000000  -7561.590000
25%    2534.750000     0.000000  4038.902500          0.320000      0.000000
50%    3192.500000     2.000000  6110.030000          0.615000      0.000000
75%    3841.250000     3.000000  8022.187500          0.962500      0.000000
max    4499.000000     4.000000  9996.220000          1.250000  37169.350000

            Profit
count  2500.000000
mean   1376.012848
std    1478.671013
min   -1199.450000
25%      93.532500
50%    1371.385000
75%    2660.645000
max    3999.210000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          2500 non-null   int64
 1   Gender_Category   2500 non-null   object
 2   Product_Line      2500 non-null   object
 3   Product_Name      2500 non-null   object
 4   Size              1990 non-null   object
 5   Units_Sold        1265 non-null   float64
 6   MRP               1246 non-null   float64
 7   Discount_Applied  832 non-null    float64
 8   Revenue           2500 non-null   float64
 9   Order_Date        1884 non-null   object
 10  Sales_Channel     2500 non-null   object
 11  Region            2500 non-null   object
 12  Profit            2500 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 254.0+ KB

In [9]:
df.isnull().sum()

Order_ID               0
Gender_Category        0
Product_Line           0
Product_Name           0
Size                 510
Units_Sold          1235
MRP                 1254
Discount_Applied    1668
Revenue                0
Order_Date           616
Sales_Channel          0
Region                 0
Profit                 0
dtype: int64

In [11]:
# Assuming df is your DataFrame
mode_value = df['Size'].mode().iloc[0]  # Get the first mode value (in case there are multiple)
df['Size'].fillna(mode_value, inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10260\3815930172.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Size'].fillna(mode_value, inplace=True)

In [13]:
df.isnull().sum()

Order_ID               0
Gender_Category        0
Product_Line           0
Product_Name           0
Size                   0
Units_Sold          1235
MRP                 1254
Discount_Applied    1668
Revenue                0
Order_Date           616
Sales_Channel          0
Region                 0
Profit                 0
dtype: int64

In [15]:
df['Units_Sold'].fillna('0', inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10260\2145724716.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Units_Sold'].fillna('0', inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10260\2145724716.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Units_Sold'].fillna('0', inplace=True)

In [17]:
df.isnull().sum()

Order_ID               0
Gender_Category        0
Product_Line           0
Product_Name           0
Size                   0
Units_Sold             0
MRP                 1254
Discount_Applied    1668
Revenue                0
Order_Date           616
Sales_Channel          0
Region                 0
Profit                 0
dtype: int64

In [19]:
df['MRP'].fillna(df['MRP'].mean(), inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10260\56281200.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MRP'].fillna(df['MRP'].mean(), inplace=True)

In [21]:
df.isnull().sum()

Order_ID               0
Gender_Category        0
Product_Line           0
Product_Name           0
Size                   0
Units_Sold             0
MRP                    0
Discount_Applied    1668
Revenue                0
Order_Date           616
Sales_Channel          0
Region                 0
Profit                 0
dtype: int64

In [23]:
df['Discount_Applied'].fillna('0', inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10260\1900317627.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discount_Applied'].fillna('0', inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_10260\1900317627.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Discount_Applied'].fillna('0', inplace=True)

In [25]:
df.isnull().sum()

Order_ID              0
Gender_Category       0
Product_Line          0
Product_Name          0
Size                  0
Units_Sold            0
MRP                   0
Discount_Applied      0
Revenue               0
Order_Date          616
Sales_Channel         0
Region                0
Profit                0
dtype: int64

In [27]:
df = df[df['Order_Date'].notna()]            # Remove NaN (null) values
df = df[df['Order_Date'].str.strip() != '']  # Remove empty strings if any

In [29]:
df.isnull().sum()

Order_ID            0
Gender_Category     0
Product_Line        0
Product_Name        0
Size                0
Units_Sold          0
MRP                 0
Discount_Applied    0
Revenue             0
Order_Date          0
Sales_Channel       0
Region              0
Profit              0
dtype: int64

In [31]:
df.head(20)

,Order_ID,Gender_Category,Product_Line,Product_Name,Size,Units_Sold,MRP,Discount_Applied,Revenue,Order_Date,Sales_Channel,Region,Profit
0,2000,Kids,Training,SuperRep Go,M,0,6039.863395,0.47,0.00,2024-03-09,Online,bengaluru,-770.45
1,2001,Women,Soccer,Tiempo Legend,M,3.0,4957.930000,0,0.00,2024-07-09,Retail,Hyd,-112.53
3,2003,Kids,Lifestyle,Blazer Mid,L,0,9673.570000,0,0.00,04-10-2024,Online,Pune,3376.85
4,2004,Kids,Running,React Infinity,XL,0,6039.863395,0,0.00,2024/09/12,Retail,Delhi,187.89
6,2006,Men,Training,SuperRep Go,M,0,6819.780000,0,0.00,04-06-2025,Online,Bangalore,1802.09
8,2008,Women,Soccer,Premier III,11,-1.0,6039.863395,0,0.00,11-10-2024,Online,Hyderabad,-731.18
10,2010,Kids,Lifestyle,Waffle One,L,1.0,7949.830000,0,0.00,2025/01/16,Online,Pune,1965.56
12,2018,Kids,Lifestyle,Blazer Mid,L,-1.0,6039.863395,0.86,0.00,13-11-2024,Online,Delhi,2109.48
13,2013,Kids,Training,SuperRep Go,L,0,9671.050000,0,0.00,19-09-2024,Online,hyderbad,299.34
14,2014,Women,Running,React Infinity,11,0,6039.863395,0,0.00,2025-04-12,Online,Bangalore,-1044.40
15,2015,Kids,Basketball,Air Jordan,L,0,3285.520000,0,0.00,31-05-2025,Retail,Kolkata,1193.21
17,2017,Women,Basketball,Air Jordan,9,4.0,6039.863395,0,0.00,17-03-2025,Retail,Delhi,1946.24
19,2019,Kids,Running,Air Zoom,6,0.0,3424.060000,0.32,0.00,2025/01/17,Online,Hyderabad,1915.24
20,2020,Kids,Soccer,Tiempo Legend,L,-1.0,6039.863395,0.67,0.00,28-03-2025,Retail,Mumbai,439.96
21,2021,Men,Running,Free RN,L,-1.0,7086.700000,0.66,-2409.48,2024/11/19,Retail,Hyd,-1120.49
22,2022,Women,Soccer,Premier III,M,0,6039.863395,0,0.00,2024/09/24,Online,Pune,3427.16
23,2023,Men,Lifestyle,Waffle One,M,0,5003.950000,0,0.00,10-01-2025,Online,Mumbai,1498.37
24,2024,Kids,Training,SuperRep Go,XL,0.0,6039.863395,0.5,0.00,28-12-2024,Retail,Bangalore,1842.35
26,2026,Kids,Lifestyle,Blazer Mid,XL,1.0,6039.863395,0.16,0.00,2024-08-10,Retail,Kolkata,2301.64
29,2029,Men,Training,ZoomX Invincible,12,0.0,6039.863395,0,0.00,2023-10-28,Online,Bangalore,-185.67

In [33]:
df['Units_Sold'].nunique()

7

In [35]:
print(df['Units_Sold'].unique())

['0' 3.0 -1.0 1.0 4.0 0.0 2.0]

In [37]:
count_minus_1 = (df['Units_Sold'] == -1).sum()
count_minus_1

158

In [39]:
df = df[df['Units_Sold'] != -1]

In [41]:
print(df['Units_Sold'].unique())

['0' 3.0 1.0 4.0 0.0 2.0]

In [46]:
df.columns

Index(['Order_ID', 'Gender_Category', 'Product_Line', 'Product_Name', 'Size',
       'Units_Sold', 'MRP', 'Discount_Applied', 'Revenue', 'Order_Date',
       'Sales_Channel', 'Region', 'Profit'],
      dtype='object')

In [50]:
print(df['Gender_Category'].unique())

['Kids' 'Women' 'Men']

In [54]:
count_kids = (df['Gender_Category'] == 'Kids').sum()
count_kids

586

In [56]:
count_woman = (df['Gender_Category'] == 'Women').sum()
count_woman

560

In [58]:
count_man = (df['Gender_Category'] == 'Men').sum()
count_man

580